/**
 * APP
 */

/* Alignement a gauche des textes dans les tableaux */
table.tab-tab tr.tab-data td { padding:2px; vertical-align:top; text-align: left; }
table.tab-tab tr.tab-data td.icons { border-left:0 none; border-right:0 none; text-align:center; vertical-align: middle; }

/* Gestion d'une grille */
.col_1, .col_2, .col_3, .col_4, .col_5, .col_6, .col_7, .col_8, .col_9, .col_10, .col_11, .col_12 {
    display: block;
    float: left;
    margin: 8px 0.833333%;
}
.col_1 {
    width: 6.66667%;
}
.col_2 {
    width: 15%;
}
.col_3 {
    width: 23.3333%;
}
.col_4 {
    width: 31.6667%;
}
.col_5 {
    width: 40%;
}
.col_6 {
    width: 48.3333%;
}
.col_7 {
    width: 56.6667%;
}
.col_8 {
    width: 65%;
}
.col_9 {
    width: 73.3333%;
}
.col_10 {
    width: 81.6667%;
}
.col_11 {
    width: 90%;
}
.col_12 {
    width: 98.3333%;
}

/*---------------------------------
	LISTS
-----------------------------------*/
ul.checks{
padding:0;
margin:5px 0 5px 0;
}

	ul.checks li{
    padding:5px 0;
	list-style-type:none;
	margin:0;
	background:url(../img/icon-check.png) no-repeat 5px 0.5em;
	padding-left:30px;
	}

ul.alt{
padding:0;
margin:5px 0 5px 0;
}

	ul.alt li{
    padding:5px 0;
	list-style-type:none;
	border-top:1px dotted #ccc;
	border-bottom:1px dotted #ccc;
	margin:0 0 -1px 0;
	background:url(../img/icon-arrow-right.png) no-repeat 5px 0.7em;
	padding-left:20px;
	}

/* Fiche electeur */
#ficheelecteur div.ficheelecteur {
    height: auto;
    min-height: 70px;
    padding-bottom: 10px;
}
#ficheelecteur div.ficheelecteur span.nom,
#ficheelecteur div.ficheelecteur span.prenom,
#ficheelecteur div.ficheelecteur span.nom_usage {
    text-decoration: underline;
    cursor: help;
}
#ficheelecteur div.carteretour p.titre {
    background-repeat: no-repeat;
    padding-left: 36px;
    line-height: 32px;

}

/**/
.carteretour-32 { background-image: url('../img/carteretour-32x32.png'); }
.carteretour-16 { background-image: url('../img/carteretour-16x16.png'); }
.carteretour-add-16 { background-image: url('../img/carteretour-add-16x16.png'); }
.carteretour-remove-16 { background-image: url('../img/carteretour-remove-16x16.png'); }

/* Revision electorale */
h3.subtitle-pagination a.pagination-next,
h3.subtitle-pagination a.pagination-prev,
h3.subtitle-pagination span.subtitle-pagination {
   float: left; 
}
h3.subtitle-pagination {
    margin-bottom: 10px;
}
#revision-electorale div.commune {
    font-size: 13px;
    font-weight: bold;
    padding: 3px;
}
#revision-electorale div.liste {
    font-size: 12px;
    padding: 3px;
}
table.revisionelectorale {
    width: 100%;
    border: 1px solid #cdcdcd;
}
table.revisionelectorale.legende {
    width: 300px;
    margin-top: 10px;
}
table.revisionelectorale fieldset.cadre {
    background-color: #fcfcfc;
    margin:5px;
}
table.revisionelectorale span.tableau {
    font-weight: bold;
}
table.revisionelectorale td.tableau {
    padding: 5px;
}
table.detail-premier-tableau {
    margin: 10px auto;
    width: 95%;
    border: 1px solid #cdcdcd;
    background-color: #fff;
}

table.revisionelectorale tr.past td,
table.detail-premier-tableau tr.past td,
table.revisionelectorale tr.futur td table.detail-premier-tableau tr.past td {
    background-color: #D1F2C4;
    font-style: normal;
}
table.revisionelectorale tr.futur td,
table.detail-premier-tableau tr.futur td {
    background-color: #FEF1EC;
    font-style: italic; 
}
table.revisionelectorale tr.nb-electeur td {
    background: none repeat scroll 0 0 #E5E5E5;
    font-weight: bold;
}
table.revisionelectorale tr.nb-electeur td ul {
    font-weight: normal;
}
table.revisionelectorale th {
    background: none repeat scroll 0 0 #E5E5E5;
    border-right: 1px dotted #E5E5E5;
    text-align: center;
    width: 100px;
}
table.detail-premier-tableau th,
table.detail-premier-tableau tr.nb-electeur td,
table.revisionelectorale tr.futur td table.detail-premier-tableau tr.nb-electeur td {
    background: none repeat scroll 0 0 #F5F5F5;
}
table.revisionelectorale th, table.revisionelectorale td {
    border-bottom: 1px dotted #cdcdcd;
}
table.detail-premier-tableau th, table.detail-premier-tableau td {
    border-bottom: 1px dotted #cdcdcd;
}
table.revisionelectorale td.signe {
    font-weight: bold;
    text-align: center;
}
table.revisionelectorale td.plus {
    color: green;
}
table.revisionelectorale td.moins {
    color: red;
}
table.revisionelectorale td.chiffre, table.revisionelectorale td.type  {
    text-align: right;
}
table.revisionelectorale td.chiffre {
    border-left: 1px dotted #DDDDDD;
}
table.revisionelectorale td.tableau {
    text-align: center;
}
table.revisionelectorale td.detail-premier-tableau {
    text-align: center;
}


#traitement_j5_status h4 ,
#traitement_annuel_status h4 {
    margin: 3px;
}
#traitement_j5_status table.tabCol,
#traitement_annuel_status table.tabCol {
    width: 80%;
    margin: 0 auto;
    border-collapse:collapse;
}
#traitement_j5_status table.tabCol td.link,
#traitement_annuel_status table.tabCol td.link  {
    text-align: center;
    width: 250px;
    padding:20px;
}
#traitement_j5_status table.tabCol td.total,
#traitement_annuel_status table.tabCol td.total {
    text-align: right;
    width : 100px;
}
#traitement_j5_status table.tabCol td.total,
#traitement_annuel_status table.tabCol td.total {
    border: 1px solid #dedede;
    padding: 2px;
}
#traitement_j5_status table.tabCol td.libelle,
#traitement_annuel_status table.tabCol td.libelle {
    border: 1px solid #dedede;
    padding: 2px;
}

#traitement_j5_status table.tabCol tr.tabCol td.libelle,
#traitement_annuel_status table.tabCol tr.tabCol td.libelle {
    text-align: center;
}
#traitement_j5_status table.tabCol tr.tabData td.libelle,
#traitement_annuel_status table.tabCol tr.tabData td.libelle {
    text-align: right;
}

#insee_export_test_list_content div.choice {
    width : 250px; 
}

.courrierrefus-16 { background-image: url('../img/courrierrefus-16x16.png'); }


#ficheelecteur div#jury_assise {
    margin-top: 15px;
}
#ficheelecteur div#jury_assise h3 {
    background: url("../img/jury-32x32.png") no-repeat scroll left top transparent;
    height: 20px;
    padding: 10px 0 10px 40px;
    vertical-align: middle;
}

.jury-16 {
    background-image: url("../img/jury-16x16.png");
}

.prefecture-16 {
    background-image: url("../img/prefecture-16x16.png");
}